/*
* pmwiki.css Copyright 2005,2007 Pierre Rouzeau, CSS style of Neutral skin.
*/

body {
 margin:4px 0px; position:absolute; 
 background-color:white;
 font-family:sans-serif;
}

a:hover { background-color:#ffff6f;}
a:link { font-style: italic; color:#0000aa;}
a:visited { color:#0000aa;}

.pagetitle { font-size:132%; font-weight:bold;}

h1 { font-size:132%;}
h2 { font-size:200%; margin-top:0px; margin-bottom:10px; font-weight: bold; color:#004}
h3 { font-size:150%; padding-top:10px; border-top:1px solid #004; margin-bottom:7px; font-weight: bold; color:#004}
h4 { font-size:100%; padding-top:3px; margin-bottom:2px; font-weight: bold; color:#004}

#wikilogo { padding-left:10px; border-bottom:2px solid #cccccc;}

#wikihead { 
  padding-right:10px; position:absolute; top:0px; right:0px; 
  font-size:90%; text-align:right; height:1em;
}
#wikihead input { font-size:85%;}
#wikihead form { margin:0px;}

#wikileft { 
 background-color:#ececec;
 width:8em; 
 padding:0px 5px 10px;
 font-size:90%; 
 border-right:2px solid #cccccc;
}
#wikileft .vspace { margin-top:1.125em;}
#wikileft a{ 
 color:#404040;
 text-decoration:none;
 border-top:2px solid #ffffff;  
 border-bottom:1px solid #999999;
 display:block; width:98%;
}
#wikititle a:link,  #wikicmds a:link, .footnav a, #wikihead a { 
 color:#000000; font-style:normal;
} 

#wikileft h1, #wikileft h5, .sidehead  { 
 margin:0px; background-color:#d6d6d6; font-size:108%; font-weight:bold; text-align:center;
}

#wikileft hr { color:#cccccc;}
#wikileft ul { margin-left:0px; padding-left:6px; list-style:none;}

#wikibody { background-color:#f6f6f6;  padding: 0.1em 8px 1em 10px;}

#wikitext { margin-top:12px; line-height:1.33em;}
#wikitext table { font-size:100%; line-height:1.33em;} /* For MSIE 5.5 */
#wikitext pre { padding:2px; background-color:#eee; border:1px solid #999}

#wikicmds { float:right; white-space:nowrap; font-size:90%;}
#wikicmds ul { list-style:none; margin:0px; padding:0px;}
#wikicmds li { display:inline; margin:0px 5px;}
#wikicmds li a { text-decoration:none; color:black; border:none;}
#wikicmds li a.createlink { display:none;}
#wikicmds li a:hover { text-decoration:underline; color:blue; }

.pagegroup { margin-top:6px;}
.pagetitle { margin:4px 0px;}

#wikifoot { 
 clear:both; padding-left:24px; border-top:2px solid #cccccc; font-size:90%; 
}

.lastmod {font-size:90%;}

h1.wikiaction { font-size:132%; margin:0px;}

/* These are for the edit form. */
#wikiedit form { margin:0px; width:100%;}
#wikiedit textarea { width:98%;}
.wikimessage { margin-top:4px; margin-bottom:4px; font-style:italic;}

table { border-collapse:collapse; border:#555555;}
td { padding:5px; border:#555555;}

/* These affect the printed appearance of the web view (not the separate
** print view) of pages.  The sidebar and action links aren't printed. */
@media print {
  body { width:auto; margin:0px; padding:0.5em;}
  #wikihead, #wikitop, #wikiindex, #wikileft, #wikicmds, .footnav  { display:none;}
  #wikifoot { padding:2px;}
}

